CONFIG_PATH=/usr/local/etc/xray/config.json
XRAY_CONFIG=/usr/local/etc/xray/config.json
SERVER_IP=
SERVER_HOST=vpn.example.com
PORTS=8443,50273
XHTTP_PATH=/replace-me/
WS_PATH=/replace-me/
DEFAULT_SNI=www.github.com
SNI_POOL=www.techadvisor.com,www.lemonde.fr,www.spiegel.de,www.corriere.it,www.github.com,www.medium.com,www.quora.com,www.researchgate.net,www.academia.edu,www.arxiv.org
PUBLIC_KEY=
SHORT_ID=
XRAY_SERVICE=xray
XRAY_CFG_OWNER=root
XRAY_CFG_GROUP=root
XRAY_CFG_MODE=644
