python-telegram-bot==21.6
python-dotenv==1.0.1
qrcode==7.4.2; python_version < "3.9"
qrcode==8.2; python_version >= "3.9"
pillow==10.4.0; python_version < "3.9"
pillow==11.3.0; python_version >= "3.9" and python_version < "3.10"
pillow==12.3.0; python_version >= "3.10"
